/* HTML */

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Header */
.header {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header hr {
  border: none;
  background: #11052c;
  height: 1px;
  margin: 2px 0;
}

nav {
  display: flex;
  padding: 1% 7%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 300px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 16px;
  position: relative;
}

.nav-links ul li a {
  color: #11052c;
  text-decoration: none;
  font-size: 30px;
}

.nav-links ul li::after {
  content: "";
  width: 0;
  height: 3px;
  background: #f43b86;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

/* Mid text box section */

.text-box {
  width: 90%;
  color: #11052c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 52px;
  font-weight: 500;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 20px;
}

.pills-img img {
  position: absolute;
  top: 65%;
  left: 5%;
  width: 300px;
}

.pills-img pre {
  width: 90%;
  color: #11052c;
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -82%);
  text-align: right;
  font-size: 28px;
}

/* Media query for main page section */

nav .fa {
  display: none;
}

nav .mn {
  display: none;
}

@media (max-width: 1000px) {
  .text-box {
    width: 90%;
    color: #11052c;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .text-box h1 {
    font-size: 42px;
  }

  .text-box p {
    font-size: 18px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: fixed;
    background: #fff3f3;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: black;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
  }

  nav .mn {
    display: block;
    color: black;
    margin: 10px;
    font-size: 35px;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
  }

  .nav-links ul {
    padding: 30px;
  }

  .pills-img {
    display: none;
  }
}

/* PCD section */

.PCD {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 60px;
}

.PCD h1 {
  font-size: 36px;
  font-weight: 600;
  color: #11052c;
}

.PCD p {
  color: #11052c;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
}

.PCD-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin: 3px 10px;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.PCD-col a {
  text-decoration: none;
  color: #11052c;
  font-size: 18px;
}

.PCD-col h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.PCD-col:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Media query for PCD section */

@media (max-width: 1000px) {
  .row {
    flex-direction: column;
  }

  .PCD {
    padding-top: 10px;
  }
}

/* Unique products section */

.Unique-products {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.Unique-products h1 {
  font-size: 36px;
  font-weight: 600;
  color: #11052c;
}

.Unique-products p {
  color: #11052c;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.products-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.products-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(255, 243, 243, 0.7);
}

.layer h2 {
  width: 100%;
  font-weight: 500;
  color: #11052c;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h2 {
  bottom: 43%;
  opacity: 1;
}

/* Facilities section */

.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 150px;
}

.facilities h1 {
  font-size: 36px;
  font-weight: 600;
  color: #11052c;
}

.facilities p {
  color: #11052c;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: center;
}

.facilities-col img {
  width: 100%;
  border-radius: 10px;
}

.facilities-col p {
  padding: 0;
  text-align: center;
}

.facilities-col h3 {
  font-size: 22px;
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: center;
}

/* Footer section */
.footer {
  width: 100%;
  text-align: center;
  padding: 40px 0;
}

.footer h3 {
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: 600;
}

.footer hr {
  border: none;
  background: #11052c;
  height: 1px;
  margin: 40px 0;
}

.copyright {
  text-align: center;
  color: #11052c;
}

.dis {
  text-align: center;
  color: #11052c;
}

.tc {
  text-align: center;
  color: #11052c;
}

.pp {
  text-align: center;
  color: #11052c;
}

/* for html dir */

.text-boxx {
  width: 90%;
  color: #11052c;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

/* Sub Header  */

.sub-header {
  width: 100%;
  text-align: center;
  color: #000;
}

.sub-header h1 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 40px;
  font-weight: 500;
  color: #11052c;
}

/* Contact Us page  */

.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe {
  width: 100%;
}

.contact-us {
  width: 80%;
  margin: auto;
}

.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div p {
  padding: 0;
  font-size: 15px;
}

.contact-col div h5 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #11052c;
  font-weight: 400;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #11052c;
  border: 1px solid #11052c;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

/* right hand menu  */
.menu {
  border-left: 2px solid #11052c;
  height: auto;
  width: auto;
  position: fixed;
  left: 85%;
  margin-left: 10px;
  top: 23%;
  flex-basis: 31%;
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgba(255, 243, 243)
  );
}

.menu-content {
  text-align: center;
}

.menu-content ul li {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 10px;
}

.menu-content ul li a {
  color: #11052c;
  text-decoration: none;
  font-size: 26px;
}

.menu-content ul li a:hover {
  color: #675b82;
}

/* Media query for menu */
@media (max-width: 1200px) {
  .menu {
    display: none;
  }
}

/* About us page */
.about-us {
  width: 69%;
  margin: auto;
  padding: 80px 0;
}

.about-us div {
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.about-us h1 {
  text-align: center;
  font-size: 33px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #11052c;
}

.about-us p {
  text-align: center;
  font-size: 23px;
  margin-bottom: 10px;
  font-weight: 300;
  color: #11052c;
}

/* Products */
.products {
  width: 69%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.products h2 {
  margin-top: 50px;
  font-size: 30px;
  font-weight: 400;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.title {
  text-align: center;
  margin: 0 auto 20px;
  position: relative;
  line-height: 60px;
  color: #11052c;
}

.col-4 h4 {
  color: #11052c;
  font-weight: 500;
}

.col-4 div p {
  font-size: 14px;
}

.col-4:hover {
  transform: translateY(-5px);
}

/* products details page */

.single-product {
  flex-basis: 50%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  margin-top: 60px;
  transition: transform 0.5s;
}

.col-2 img {
  padding: 0;
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

.single-product .col-2 {
  padding: 20px;
}

.col-2 pre {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}

.col-2 h1 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.col-2 a {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

.col-2 h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 3px;
}

.col-2 p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 20%;
  cursor: pointer;
}

.small-img-col img {
  width: 76px;
  height: 76px;
  border-radius: 10px;
}

/* Media query for products detail page */
@media (max-width: 1000px) {
  .single-product .col-2 {
    align-items: center;
    text-align: center;
    padding: 20px 0;
    margin: auto;
  }

  .col-2 img {
    padding: 0;
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }

  .small-img-col img {
    width: 56px;
    height: 56px;
    border-radius: 10px;
  }
}

/* popup */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #fff3f3;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.popup a {
  margin-top: 10px;
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }

  .popup {
    width: 70%;
  }
}
